bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
riot-backend-tests/appsettings.Test.json
riot-backend/appsettings.json
riot-backend/appsettings.json
riot-backend/appsettings.Development.json
