bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
riot-backend-tests/appsettings.Test.json
riot-backend/appsettings.Development.json
riot-backend/appsettings.json
riot-backend/Api/Modules/GoogleAuth/client_secret.json
.vs/
riot-backend/appsettings.Production.json
riot-backend/.DS_Store
